{% extends "base.html" %}


{% block title_block %}Create new account{% endblock  %}

{% block body_block %}

{% if registered %}

<div class='alert alert-success mt-5'>

    <h2>Account Created successfully <a href="{% url "App_Login:login" %}">Login Here</a> </h2>
</div>


{% else  %}

<div class="border border-2 mt-4">


    <h2 class="text-center mt-2 mb-4">Create a new account</h2>


<div class="d-flex justify-content-center align-items-center ">
    <form method="POST">
        {{form.as_p}}
        <button class="btn btn-success btn-sm mt-4" type="submit">Create Account</button>
        {% csrf_token %}
        </form>
        
        <br>
        </div>
        <p class="text-center mt-4">Already Have an account? <a href="{% url "App_Login:login" %}">login here</a> </p>

</div>





{% endif %}
{% endblock  %}